.product{
    display: flex;
    border-bottom:2px solid lightgray;
    margin:10px;
}
.product-name{
    color:blue;
    margin-left:100px;
}
.seller, .stock, .price, .main-button{
    margin-left: 100px;
    font-weight:500;
}
.main-button {
    background-color: goldenrod;
    padding:5px;
    width: 150px;
    border-radius: 5px;
    border:3px solid lightgray;
    margin-bottom:20px;
}